
.demo {
	font-size: 14px;
	 
}
.error{
	font-size: 12px;
	color: red;
}

.top {
	display: block;
	border: 0 solid;
	background: white;
	height: 15px;
	border-image: initial;
	width: 97%;
	border-color: white;
	border-width: medium;
	 
}

.bottom {
	display: block;
	
	background: white;
	height: 15px;
	border-image: initial;
	width: 97%;
	
}

.grid {
	display: block;
	background: white;
	height: 670px;
	
	width: 100%;
}

.grid1 {
	width: 20%;
	margin-left: 1%;
	margin-top: 1%;
	display: block;
	float: left;
	height: 380px;
	background-color: #f5f5f5;
	border-radius: 5px 5px 5px 5px;
	
}

.grid2 {
	width: 76%;
	margin-left: 1%;
	margin-top: 1%;
	display: block;
	float: left;
	height: 380px;
	background-color: #f5f5f5;
	border-radius: 5px 5px 5px 5px;

}
.grid3 {
	width: 20%;
	margin-left: 1%;
	margin-top: 1%;
	display: block;
	float: left;
	height: 250px;
	background-color: #f5f5f5;
	border-radius: 5px 5px 5px 5px;
}
.grid4 {
	width: 76%;
	margin-left: 1%;
	margin-top: 1%;
	display: block;
	float: left;
	background-color: #f5f5f5;
	border-radius: 5px 5px 5px 5px;
	height: 250px;
	
}

.infragrid {
	display: block;
	
	border-width: 0 1px;
	height: 610px;
	border-image: initial;
	width: 77%;
}

.infragrid1 {
	width: 20%;
	margin-left: 0.25%;
	margin-top: 1%;
	display: block;
	float: left;
	border: 0 solid;
	border-color: black;
	border-width: medium;
	height: 680px;
	background: grey;
	
}

.infragrid2Dash {
	width: 98%;
	margin-left: 1%;
	margin-top: 1%;
	display: block;
	float: left;
	border: 0 solid;
	border-color: black;
	border-width: medium;
	height: 680px;
}

.infragrid2 {
	width: 98%;
	margin-left: 1%;
	margin-top: 0%;
	display: block;
	float: left;
	background-color: white;
	/* border: 0 solid;
	border-color: #D45500;
	border-width: medium; */
	height: 680px;

}

.jcarousalClass{
        margin-left: 50px;
        /* border: 1px solid grey; */
        float: left;
    }
    
.jcarousalClass li  {
            cursor:pointer;
            width: 100px;
            height: 150px;
            margin: 10px;
            padding: 3px 5px 3px 10px;
            border: 1px solid #AAA;
			border-radius: 5px 5px 5px 5px;
			color: grey;
        }
        
.jcarousalClass li  a
		{
		    display:block; /* moved to link */
		    font-weight: bold;
		    text-decoration: none;
		    line-height: 1.8em;
		    padding-right:.5em;
		    color: #696969;
		}
		
.jcarousel-container-horizontal
	{
        width: 90%;
        }
        
.productsDash {
	padding-top: 5px;
	width: 330px;
	 color: #d45500; font-weight: 700;
	 font-size: 15px;
	/* background: #d45500; */ 
	width: 98%;
	height: 15px;
	margin: 0 2px;
	bottom: 0px;
	/* text-decoration: underline; */
	/* border: 1px solid #AAAAAA;
    border-radius: 5px 5px 5px 5px; */
	
}

.dataTableHeader{
	padding-top: 5px;
	width: 330px;
	clear:both; margin-top:0em; margin-left: 2em; font-weight: bold;
	color: #d45500; 
	height: 20px;
}


.dashTableHeader {
	width: 98%;
	color: grey; font-weight: bolder;
	background: #F5F5F5;
	
}


* { margin:0;
		    padding:0;
		}
		
		body { background:#f5f5f5; 
		font-family: arial, helvetica, sans-serif; 
		font-size: 12px;
		color: black;
		}
		
		a:link {
			color: black;
		}
		a:visited {
			color: black;
		}
		div#menu { margin:5px auto; }
		div#copyright {
		    font:0px 'arial, helvetica, sans-serif';
		    color:#222;
		    text-indent:0px;
		    padding:0px 0 0 0;
		}
		div#copyright a { color:#000; }
		div#copyright a:hover { color:#222; }
		/* div {overflow:auto; } */
		
	.mycpheaderHeader {
		width: 100%;
		height: 45px; 
		color: black; 
		background: url(/images/mycpheader.jpg);
		/*  background-color: grey; */
	   
	}
	.mycpheaderName{
	width:15%; float: left;text-align:justify; font-family: arial, helvetica, sans-serif; font-size: xx-large;font-weight: 900;
	}

.mycpfooter {
	
	clear: both;
	text-align: center;
	margin-top: 3.5em;
	margin-bottom: 1em;
	height: 53px;
	background-repeat: no-repeat;
	background-position: left center;
	/* style="float:left; width:100%;   height:30px; text-align: right; margin-top: 25px;" */

}

.tableReports{
	width: 100%;
	height: 680px;
}


	img.clickimg {
	cursor: pointer;	
	}
	
.navi1{
	text-align: right;
	padding-right: 75px;
	
}